{% extends 'base.html' %}
{% load static %}


{% block title %}
    Animal Agency
{% endblock %}

{% block price %}
	<li><a href="{{price.price_pdf.url}}" target="blank">Прайс лист</a></li>
{% endblock %}


{% block article %}
<h1 class="text-uppercase" xmlns="http://www.w3.org/1999/html">
		Animal Agency
	</h1>
	<p class="text-white sub-head">
		{{info.about_article}}
	</p>
{% endblock %}

{% block content %}
	<!-- Start image-carusel Area -->
	<section class="image-carusel-area">
		<div class="container">
			<div class="row">
				<div class="active-image-carusel">
					{% for animal in animals %}
						{% include 'animal/includes/animal_photo.html' %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- End image-carusel Area -->


	<!-- Start callto-top Area -->
	<section class="callto-top-area section-gap">
		<div class="container">
			<div class="row justify-content-between callto-top-wrap pt-40 pb-40">
				<div class="col-lg-8 callto-top-left">
					<h1>Хотите вступить в клуб?</h1>
				</div>
				<div class="col-lg-4 callto-top-right">
					<a href="{% url 'model_create_url' %}" class="primary-btn">Заполните форму</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End callto-top Area -->


	<section class="testomial-area section-gap" id="testimonail">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Новости</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-testimonial-carusel">
					{% for new in news %}
						{% include 'news/includes/news_card.html' %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>


	<!-- Start process Area -->
	<section class="process-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Процесс заказа сьемки</h1>
						<p>Кто понимает ценность здоровья животного</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-process">
						<span class="lnr lnr-thumbs-up"></span>
							<h4>
								Выбор животного
							</h4>
						</a>
						<p>
							Из каталога анкет выбираете нужные вам модели.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-process">
						<span class="lnr lnr-license"></span>
							<h4>
								Заполняете форму
							</h4>
						</a>
						<p>
							Заполняете форму с указанием контактных данных и моделей, которые Вам необходимы, а также указываете концепт сьемки.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-process">
						<span class="lnr lnr-user"></span>
							<h4>
								Обработка заявки
							</h4>
						</a>
						<p>
							Оператор изучает заявку, оценивает риски для животного, предлагает замену в случае занятости животного, выносит решение об одобрении или отказе.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-process">
						<span class="lnr lnr-magic-wand"></span>
							<h4>
								Сьемка
							</h4>
						</a>
						<p>
							Сотрудники (с/без хозяина) прибывают на место сьемки, помогают Вам и обеспечивают спокойствие животного.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End process Area -->

	<!-- Start testomial Area -->
	<section class="testomial-area section-gap" id="testimonail">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Отзывы наших клиентов</h1>
						<p>Тех, кто однажды попробовал наши услуги и остался с нами навсегда</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-testimonial-carusel">
					{% for client in clients %}
						{% include 'clients/includes/clients_card.html' %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- End testomial Area -->

	<!-- Start calltoaction Area -->
	<section class="calltoaction-area section-gap relative">
		<div class="container">
			<div class="overlay overlay-bg"></div>
			<div class="row align-items-center justify-content-center">
				<h1 class="text-white">Хотите сделать заказ на фотосьемку или присоединиться к нам?</h1>
				<p class="text-white">
					Обратитесь к нам по одной из следуюших кнопок:
				</p>
				<div class="buttons d-flex flex-row">
					<a href="{% url 'photo_create_url' %}" class="primary-btn text-uppercase">Заказ фотосьемки</a>
					<a href="{% url 'model_create_url' %}" class="primary-btn text-uppercase">Вступить в клуб</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End calltoaction Area -->
{% endblock %}

{% block about_footer %}
	<h6>О нас</h6>
	<p>
		{{info.about_footer}}
	</p>
{% endblock %}

{% block social %}
	<div class="col-lg-4 col-sm-6 footer-social">
		<a href="{{social.telegram}}"><i class="fa fa-telegram"></i></a>
		<a href="{{social.vk}}"><i class="fa fa-vk"></i></a>
		<a href="{{social.whatsapp}}"><i class="fa fa-whatsapp"></i></a>
	</div>
{% endblock %}