{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{animal.pets_name}}
{% endblock %}

{% block article %}
    <h1 class="text-uppercase">
		{{animal.pets_name}}
	</h1>
{% endblock %}

{% block content %}
    <!-- Start post-content Area -->
    <section class="post-content-area single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="single-sidebar-widget user-info-widget">
                            <img src="{{ animal.photo.url }}" alt="{{ animal.pets_name }}">
                            <p>
                                {{animal.pets_name}}
                            </p>
                        </div>
                        <div class="col-lg-3  col-md-3 meta-details">
                            <div class="user-details row">
                                <p class="user-name col-lg-12 col-md-12 col-6"><a>Окрас: {{animal.color}}</a></p>
                                <p class="date col-lg-12 col-md-12 col-6"><a>Вес: {{animal.weight}}</a></p>
                                <p class="view col-lg-12 col-md-12 col-6"><a>Рост в холке: {{animal.height}}</a></p>
                                <p class="comments col-lg-12 col-md-12 col-6"><a>Заводчик: {{animal.owner}}</a></p>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <a class="posts-title" href="#"><h3>Описание</h3></a>
                            <p class="excert">
                                {{animal.descriptions}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End post-content Area -->
{% endblock %}
