{% extends 'base.html' %}

{% block title %}
    Модели
{% endblock %}

{% block price %}
	<li><a href="{{price.price_pdf.url}}" target="blank">Прайс лист</a></li>
{% endblock %}

{% block article %}
    <h1 class="text-uppercase">
		Наши питомцы
	</h1>
{% endblock %}

{% block content %}
    <!-- Start animal-list Area -->
    <section class="cat-list-area section-gap">
        <div class="container">
            <div class="row">
                {% for animal in animals %}
                    {% include 'animal/includes/animal_card.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End animal-list Area -->
{% endblock %}

{% block about_footer %}
	<h6>О нас</h6>
	<p>
		{{info.about_footer}}
	</p>
{% endblock %}

{% block social %}
	<div class="col-lg-4 col-sm-6 footer-social">
		<a href="{{social.telegram}}"><i class="fa fa-telegram"></i></a>
		<a href="{{social.vk}}"><i class="fa fa-vk"></i></a>
		<a href="{{social.whatsapp}}"><i class="fa fa-whatsapp"></i></a>
	</div>
{% endblock %}