<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">{{ animal.pets_name }}</h5>
        <img src="{{ animal.photo.url }}" alt="{{ animal.pets_name }}" width="80" height="80">
        <p class="card-text">{{ animal.descriptions|truncatewords:20 }}</p>
        <a href="{{ animal.get_absolute_url }}" class="btn btn-light">Далее</a>
    </div>
    <div class="card-footer text-muted">
        Параметры:
        <a>  Окрас: {{ animal.color }}; Вес: {{ animal.weight }}; Рост в холке: {{ animal.height }} </a>
    </div>
</div>