{% extends 'base.html' %}

{% block title %}
    Контакты
{% endblock %}


{% block content %}
    <div class="container mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    Телефон:
                </div>
                <div class="col-md-6 text-center">
                    НОМЕР И НОМЕР
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    Электронная почта:
                </div>
                <div class="col-md-6 text-center">
                    ПОЧТА
                </div>
            </div>
        </div>
    </div>
{% endblock %}