{% extends 'base.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block article %}
	<h1 class="text-uppercase">
		О нас
	</h1>
{% endblock %}

{% block content %}
    <!-- Start contact-page Area -->
    <section class="contact-page-area section-gap">
        <div class="container">
            <div class="row">
                <div class="map-wrap" style="width:100%; height: 445px;" id="map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa1d062469e53e7cb59d32194b7fa12f6cd25e2e18e3f46407fcf6706f229ca6f&amp;width=600&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
                <div class="col-lg-4 d-flex flex-column address-wrap">
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-home"></span>
                        </div>
                        <div class="contact-details">
                            <h5>Россия, Санкт-Петербург</h5>
                            <p>Невский проспект, дом 85</p>
                        </div>
                    </div>
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-phone-handset"></span>
                        </div>
                        <div class="contact-details">
                            <h5>8 800 555 35 35</h5>
                            <p>Пн-Пт с 9 до 18</p>
                        </div>
                    </div>
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-envelope"></span>
                        </div>
                        <div class="contact-details">
                            <h5>support@animalagency.com</h5>
                            <p>Пишите в любое время!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row mt-3"> Мы в соцсетях:
                        <a href="https://t.me/ne_boyan_a_classika"><i class="fa fa-telegram"></i></a>
                        <a href="https://vk.com/vandrouki_tours"><i class="fa fa-vk"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact-page Area -->
{% endblock %}