{% extends 'base.html' %}

{% block title %}
    Заявка на вступление в клуб
{% endblock %}

{% block price %}
	<li><a href="{{price.price_pdf.url}}" target="blank">Прайс лист</a></li>
{% endblock %}

{% block article %}
    <h1 class="text-uppercase">
		Заявка на вступление в клуб
	</h1>
{% endblock %}

{% block content %}
    <!-- Start Model-form Area -->
    <section class="Volunteer-form-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-20">Нужна помощь? Свяжитесь с нами в соцсетях:</h1>
                        <a href="https://t.me/ne_boyan_a_classika"><i class="fa fa-telegram"></i></a>
                        <a href="https://vk.com/vandrouki_tours"><i class="fa fa-vk"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <form action="{% url 'model_create_url' %}" method="post">
                    {% csrf_token %}
                    {% for field in bound_form %}
                        <div class="mb-1">
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="primary-btn float-right">Отправить заявку на вступление в клуб</button>
                <button type="button" class="primary-btn float-right" data-toggle="modal" data-target="#exampleModal">Закрыть форму заявки</button>
                </form>
            </div>
        </div>
        <div class="modal" tabindex="-1" id="exampleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтверждение отмены</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <p>Вы действительно хотите закрыть форму?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'main_page_url' %}" role="button" class="primary-btn float-right" data-bs-dismiss="modal">Закрыть</a>
                        <a href="{% url 'model_create_url' %}" role="button" class="primary-btn float-right">Вернуться к форме</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Model-form Area -->
{% endblock %}

{% block about_footer %}
	<h6>О нас</h6>
	<p>
		{{info.about_footer}}
	</p>
{% endblock %}

{% block social %}
	<div class="col-lg-4 col-sm-6 footer-social">
		<a href="{{social.telegram}}"><i class="fa fa-telegram"></i></a>
		<a href="{{social.vk}}"><i class="fa fa-vk"></i></a>
		<a href="{{social.whatsapp}}"><i class="fa fa-whatsapp"></i></a>
	</div>
{% endblock %}