{% extends 'base.html' %}

{% block title %}
    Заявка на сьемку
{% endblock %}

{% block article %}
    <h1 class="text-uppercase">
		Заявка на сьемку
	</h1>
{% endblock %}

{% block content %}
    <!-- Start Order-form Area -->
    <section class="Volunteer-form-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-20">Нужна помощь? Свяжитесь с нами в соцсетях:</h1>
                        <a href="https://t.me/ne_boyan_a_classika"><i class="fa fa-telegram"></i></a>
                        <a href="https://vk.com/vandrouki_tours"><i class="fa fa-vk"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <form action="{% url 'photo_create_url' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="primary-btn float-right">Отправить заявку на фотосессию</button>
                </form>
            </div>
        </div>
    </section>
    <!-- End Order-form Area -->
{% endblock %}