{% load static %}
<div class="container">
    <div class="row">
        <div class="comments-area">
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                    <div class="desc">
                        <h5><a>{{answer.question}}</a></h5>
                        <p class="comment">
                            {{answer.answer}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>